{% extends 'base.html' %}

{% block all_image_blocks %}

    {% for image in data %}
        <div class="post-masonry col-md-4 col-sm-6">
            <div class="post-thumb">
                <img src="/{{ image.image}}" alt="">
                <div class="title-over">
                    <h4><a href="/{{ image.image}}" target="_blank" >{{ image.title }}</a></h4>
                </div>
                <div class="post-hover text-center">
                    <div class="inside">
                        <i class="fa fa-plus"></i>
                        <span class="date">{{ image.insert_date }}</span>
                        <h4><a href="/{{ image.image}}" target="_blank" >{{ image.title }}</a></h4>
                        <p>{{ image.description }}<</p>
                    </div>
                </div>
            </div>
        </div> <!-- /.post-masonry -->
    {% endfor %}
{% endblock %}